$colorBlack: #353535;
$colorBlackDark: #000;
$colorWhite: #fff;

$colorGrey: #7a7a7a;
$colorGreyHover: #e2e2e2;
$colorInputBg: rgba(0,0,0,0.05);


$colorPurple: #b72bf6;
$colorPurpleHover: #7f26a8;
$colorPurpleActive: #8c07fa;




